@import './imports/variables';
@import './imports/mixins';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  overflow-x: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  @import './header';
  @import './dashboard';
  .btn-container {
    margin-bottom: 10px;
    .btn {
      color: #fff;
      font-size: 1em;
      width: 200px;
      .social-icon {
        float: left;
        font-size: 1.5em;
      }
    }
    .btn-google {
      background-color: #d34836;
      &:hover {
        background-color: darken(#d34836, 10%);
      }
    }
    .btn-facebook {
      background-color: #3b5998;
      &:hover {
        background-color: darken(#3b5998, 10%);
      }
    }
    .btn-github {
      background-color: #444444;
      &:hover {
        background-color: darken(#444444, 10%);
      }
    }
  }

  .user-form {
    button {
      margin-left: 10px;
    }
  }

  .repos-with-notes {
    list-style-type: none;
  }
}
