@import 'vendor/bootstrap/bootstrap';
@import 'vendor/font-awesome/scss/font-awesome.scss';
@import 'mixins';

.row {
  margin-left: 0;
  margin-right: 0;
}

body {
  margin: 0;
}

.wrapper {
  header {
    .header {
      border-bottom: 1px solid #ccc;
      display: block;
      height: 140px;
      margin-bottom: 10px;
      width: 100%;
      @include media(tablet) {
        height: 140px;
      }
      @include media(mediumDesktop) {
        height: 80px;
      }
      @include media(largeDesktop) {
        height: 80px;
      }
      .title {
        display: inline-block;
        height: 60%;
        padding-left: 10px;
        text-align: center;
        width: 100%;
        @include media(tablet) {
          display: block;
          height: 60%;
          text-align: center;
          width: 100%;
        }
        @include media(mediumDesktop) {
          display: inline-block;
          height: 100%;
          text-align: left;
          width: 75%;
        }
        @include media(largeDesktop) {
          display: inline-block;
          height: 100%;
          text-align: left;
          width: 75%;
        }
        h1 {
          width: 100%;
          a {
            color: #000;
            &:hover,
            &:active,
            &:visited {
              color: #000;
            }
          }
        }
      }
      nav {
        display: block;
        height: 100%;
        text-align: left;
        width: 100%;
        @include media(tablet) {
          display: inline-block;
          text-align: right;
          width: 25%;
        }
        @include media(mediumDesktop) {
          display: inline-block;
          text-align: right;
          width: 25%;
        }
        @include media(largeDesktop) {
          display: inline-block;
          text-align: right;
          width: 25%;
        }
        .navigation {
          height: 100%;
          padding-right: 10px;
          width: auto;
          .profile-picture {
            border-radius: 50%;
            display: inline-block;
            height: 50px;
            width: 50px;
          }
          .dropdown {
            height: 50px;
            .navbar-dropdown {
              .icon {
                color: #000;
                &:first-child {
                  margin-right: 5px;
                }
              }
            }
          }
        }
        .dropdown-trigger {
          color: #000;
          text-decoration: none;
          outline: none;
        }
        .dropdown-menu {
          left: 5px;
          top: 25px;
          right: auto;
          @include media(tablet) {
            left: 5px;
            top: 25px;
            right: auto;
          }
          @include media(mediumDesktop) {
            left: auto;
            top: 45px;
            right: 0;
          }
          @include media(largeDesktop) {
            left: auto;
            top: 45px;
            right: 0;
          }
        }
      }
    }
  }
  .btn-container {
    margin-bottom: 10px;
    .btn {
      color: #fff;
      font-size: 1em;
      width: 200px;
      .social-icon {
        float: left;
        font-size: 1.5em;
      }
    }
    .btn-google {
      background-color: #d34836;
      &:hover {
        background-color: darken(#d34836, 10%);
      }
    }
    .btn-facebook {
      background-color: #3b5998;
      &:hover {
        background-color: darken(#3b5998, 10%);
      }
    }
    .btn-github {
      background-color: #444444;
      &:hover {
        background-color: darken(#444444, 10%);
      }
    }
  }

  .user-form {
    button {
      margin-left: 10px;
    }
  }

  .repos-with-notes {
    list-style-type: none;
  }
}
