.container {
  display: grid;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  .search-bar {
    margin-top: 15px;
    grid-column: span 12;
  }
  .main-content {
    grid-column: span 12;
    width: 100%;
  }
}
