{
    'presets': ['es2015', 'react'],
    "plugins": ["transform-object-rest-spread"],
    "env": {
      "production": {
        "presets": ["minify"],
        "plugins": ["transform-remove-console"]
      }
    }
}
