extends layout.pug

block header
  include common/header.pug

block content

  if(user)
    form
      div(class="form-group row")
        label(for="name" class="col-sm-1 col-form-label")
          | Name
        div(class="col-sm-4")
          input(type="text" class="form-control" name="name" id="name" value=user.name)
      div(class="form-group row")
        label(for="email" class="col-sm-1 col-form-label")
          | Email
        div(class="col-sm-4")
          | #{user.email}
      div(class="form-group row")
        label(for="provider" class="col-sm-1 col-form-label")
          | Provider
        div(class="col-sm-4")
          - user.provider = user.provider.charAt(0).toUpperCase() + user.provider.slice(1);
          | #{user.provider}


  else

    include common/login-box.pug

