extends layout.pug

block header
  include common/header.pug

block content

  if(user)
    div(class='row')
      div(class='col-md-12') <b>Name</b>: #{user.name}
    div(class='row')
      div(class='col-md-12') <b>Email</b>: #{user.email}
    div(class='row')
      div(class='col-md-12') <b>Provider</b>: #{user.provider}

    if(repos.length)
      hr
      div(class='row')
        div(class='col-md-12 text-center') <h1>Repos With Notes</h1>

      ul(style='list-style-type: none;')
        each val in repos
          li
            a(href='/profile/' + val) #{val}

  else

    include common/login-box.pug

