@import '../../../common/CSS/pagination.scss';

.repos-container {
  grid-column: span 12;
  width: 430px;
  .header {
    text-align: center;
  }
  .repos-list {
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style-type: none;
    .list-item {
      margin-bottom: 2rem;
    }
  }
}
