$color_1: #fff;
$color_2: #47ccde;
$background-color_1: #47ccde;
$border-color_1: #47ccde;

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  > .active {
    > a {
      background-color: $background-color_1;
      border-color: $border-color_1;
      color: $color_1;
      background-color: $background-color_1;
      border-color: $border-color_1;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: $background-color_1;
        border-color: $border-color_1;
        outline: none;
      }
      &:focus {
        background-color: $background-color_1;
        border-color: $border-color_1;
        outline: none;
      }
    }
    > span {
      background-color: $background-color_1;
      border-color: $border-color_1;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: $background-color_1;
        border-color: $border-color_1;
        outline: none;
      }
      &:focus {
        background-color: $background-color_1;
        border-color: $border-color_1;
        outline: none;
      }
    }
  }
  > li {
    > a {
      border: 1px solid #47ccde;
      padding: 5px 10px;
      outline: none;
      color: $color_2;
    }
    > span {
      color: $color_2;
      cursor: pointer;
    }
    &:first-child {
      > a {
        border-radius: unset;
      }
      > span {
        border-radius: unset;
      }
    }
    &:last-child {
      > a {
        border-radius: unset;
      }
      > span {
        border-radius: unset;
      }
    }
  }
}
