@import '../../common/forms.scss';

.search-container {
  margin-bottom: 10px;
  grid-column: span 12;
  text-align: center;
  .form-search {
    .form-search-input {
      @extend .input;
    }
    .form-search-button {
      @extend .button;
    }
    .form-group {
      margin-bottom: 1rem;
    }
  }
}
