header
  .header
    .title
      h1
        a(href='/') GitHub Note Taker
    if(user!==undefined)
      nav
        .navigation
          .dropdown
            a(href='#' class='navbar-dropdown' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
              i.fa.fa-cog.icon(aria-hidden='true')
              i.fa.fa-arrow-circle-down.icon(aria-hidden='true')
            ul(class='dropdown-menu')
              li
                a(href='/dashboard') Settings
              li
                a(href='/logout') Logout
    else
      nav
        .navigation
          a(href="/login") Log In
