div(class='row')
  div(class='col-md-offset-3 col-md-6 col-md-offset-3')
    div(class='panel panel-default text-center')
      div(class='panel-heading text-left') Login or register to save your notes:
        div(class='panel-body')
          div(class='btn-container')
            a(href='/auth/google' class='btn btn-danger')
              i.fa.fa-google-plus-square.social-icon(aria-hidden='true')
              | Google
          div(class='btn-container')
            a(href='/auth/facebook' class='btn btn-primary')
              i.fa.fa-facebook.social-icon(aria-hidden='true')
              | Facebook
